{% extends "master_page.html" %}
{% load static %}

{% block seccion %}
Consulta de Tasas de Interés Interbancarias
{% endblock %}

{% block contenido %}

<div class="col-6 mt-5 mx-auto">
    <div class="card">
        <div class="card-header">
            <h5><b>Ingresa el rango de fechas</b></h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Fecha Inicial:</label>
                        <div class="input-group date" id="fecha_inicial" data-target-input="nearest">
                            <input type="text" id="fecha_inicio" name="fecha_inicio" class="form-control datetimepicker-input" data-target="#fecha_inicial" value="{{hoy}}"/>
                            <div class="input-group-append" data-target="#fecha_inicial" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Fecha Final:</label>
                        <div class="input-group date" id="fecha_final" data-target-input="nearest">
                            <input type="text" id="fecha_fin" name="fecha_fin" class="form-control datetimepicker-input" data-target="#fecha_final" value="{{hoy}}"/>
                            <div class="input-group-append" data-target="#fecha_final" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 mt-5 ">
                    <button id="btnBuscar" name="btnBuscar" class="btn btn-secondary float-right">Buscar</button>
                </div>
            </div>        
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6 mt-2">
        <div class="card">
            <div class="card-header">
                <h5><b>TIIE de fondeo a un día</b></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <label >Promedio:</label>
                        <input type="text" id="promedio_1" class="form-control text-center" readonly>
                    </div>
                    <div class="col-md-4 text-center">
                        <label >Mayor:</label>
                        <input type="text" id="mayor_1" class="form-control text-center" readonly>
                    </div>
                    <div class="col-md-4 text-center">
                        <label >Menor:</label>
                        <input type="text" id="menor_1" class="form-control text-center" readonly>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <table id="tabla_tiie_1" class="text-center table table-striped" width="100%">
                            <thead class="text-capitalize thead-dark">
                                <tr>
                                    <th>Fecha</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 mt-2">
        <div class="card">
            <div class="card-header">
                <h5><b>TIIE a 28 días</b></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <label >Promedio:</label>
                        <input type="text" id="promedio_28" class="form-control text-center" readonly>
                    </div>
                    <div class="col-md-4 text-center">
                        <label >Mayor:</label>
                        <input type="text" id="mayor_28" class="form-control text-center" readonly>
                    </div>
                    <div class="col-md-4 text-center">
                        <label >Menor:</label>
                        <input type="text" id="menor_28" class="form-control text-center" readonly>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <table id="tabla_tiie_28" class="text-center table table-striped" width="100%">
                            <thead class="text-capitalize thead-dark">
                                <tr>
                                    <th>Fecha</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-6 mt-2">
        <div class="card">
            <div class="card-header">
                <h5><b>TIIE a 91 días</b></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <label >Promedio:</label>
                        <input type="text" id="promedio_91" class="form-control text-center" readonly>
                    </div>
                    <div class="col-md-4 text-center">
                        <label >Mayor:</label>
                        <input type="text" id="mayor_91" class="form-control text-center" readonly>
                    </div>
                    <div class="col-md-4 text-center">
                        <label >Menor:</label>
                        <input type="text" id="menor_91" class="form-control text-center" readonly>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <table id="tabla_tiie_91" class="text-center table table-striped" width="100%">
                            <thead class="text-capitalize thead-dark">
                                <tr>
                                    <th>Fecha</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-6 mt-2">
        <div class="card">
            <div class="card-header">
                <h5><b>TIIE a 128 días</b></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <label >Promedio:</label>
                        <input type="text" id="promedio_128" class="form-control text-center" readonly>
                    </div>
                    <div class="col-md-4 text-center">
                        <label >Mayor:</label>
                        <input type="text" id="mayor_128" class="form-control text-center" readonly>
                    </div>
                    <div class="col-md-4 text-center">
                        <label >Menor:</label>
                        <input type="text" id="menor_128" class="form-control text-center" readonly>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <table id="tabla_tiie_128" class="text-center table table-striped" width="100%">
                            <thead class="text-capitalize thead-dark">
                                <tr>
                                    <th>Fecha</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6 mt-2 mx-auto">
        <div class="card">
            <div class="card-header">
                <h5><b>Gráfica de Resultados</b></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <canvas id="grafica_resultados" width="400" height="400" hidden></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extrajs %}

<script>

    const SERIE_TIEE_1 = "SF331451"
    const SERIE_TIEE_28 = "SF43783"
    const SERIE_TIEE_91 = "SF43878"
    const SERIE_TIEE_128 = "SF111916"

    $(function () {
        //Date range picker
        $('#fecha_inicial').datetimepicker({
            format: "DD-MM-YYYY"
        });
        $('#fecha_final').datetimepicker({
            format: "DD-MM-YYYY"
        });
    });

    var btnBuscar = document.getElementById('btnBuscar')
    btnBuscar.onclick = ()=>{
        limpiar_datos()
        buscar_tiie()
    }

    function buscar_tiie(){
        try{
            let fecha_inicio = document.getElementById('fecha_inicio').value
            let fecha_fin = document.getElementById('fecha_fin').value

            //Tablas a las que se les colocarán los datos
            var tabla_tiie_1 = document.getElementById('tabla_tiie_1').getElementsByTagName('tbody')[0]
            var tabla_tiie_28 = document.getElementById('tabla_tiie_28').getElementsByTagName('tbody')[0]
            var tabla_tiie_91 = document.getElementById('tabla_tiie_91').getElementsByTagName('tbody')[0]
            var tabla_tiie_128 = document.getElementById('tabla_tiie_128').getElementsByTagName('tbody')[0]

            //Validaciones a fechas
            //Las fechas deben tener algún valor
            if(fecha_inicio == "" || fecha_fin == ""){
                mostrar_texto('error','Error','Por favor, coloque ambas fechas.')
            
            //La fecha de inicio no puede ser mayor a la de fin
            }else if(comparar_fecha(fecha_reversa(fecha_inicio),fecha_reversa(fecha_fin))){
                mostrar_texto('error','Error','La fecha de inicio no puede ser mayor a la de fin.')
            }else{
                //Colocamos la fecha al revés, requisito del web service
                fecha_inicio = fecha_reversa(fecha_inicio)
                fecha_fin = fecha_reversa(fecha_fin)

                var grafica_resultados = document.getElementById('grafica_resultados')
                  
                //Series del web service, udis y dólar
                let series = SERIE_TIEE_1 +","+ SERIE_TIEE_28+","+ SERIE_TIEE_91+","+ SERIE_TIEE_128

                $.ajax({
                    url:"https://www.banxico.org.mx/SieAPIRest/service/v1/series/"+series+"/datos/"+fecha_inicio+"/"+fecha_fin+"",
                    jsonp:"callback",
                    data:{
                        "token":token
                    },
                    dataType:"jsonp", 
                    success:function(response){
                        data = response.bmx.series

                        var promedio = 0
                        var max = 0
                        var min = Number.MAX_VALUE
                        var titulos = []
                        var valores = []
                        var valores_1 = []
                        var valores_28 = []
                        var valores_91 = []
                        var valores_128 = []

                        /*
                            Recorremos todas las series mandadas a llamar en el web service
                            El web service de banxico te envía las seres de forma aleatoria, por
                            eso se hacen validaciones.  
                        */
                        data.forEach(series => {
                            //Reiniciamos valores
                            promedio = 0
                            max = 0
                            min = Number.MAX_VALUE
                            titulos = []
                            valores = []
                            let serie = ""

                            //Recorremos los datos de cada serie...
                            try{
                                series.datos.forEach(element => {
                                    let fila = ""
                                    let celda = ""
                                    let newText = ""
                                    /* -------------------- */

                                    //La única diferencia es a qué tabla va dirigida la fila
                                    serie = series.idSerie
                                    if(serie == SERIE_TIEE_1){
                                        //Referenciar la tabla correspondiente a la tiie
                                        fila = tabla_tiie_1.insertRow()
                                    }else if(serie == SERIE_TIEE_28){
                                        fila = tabla_tiie_28.insertRow()
                                    }else if(serie == SERIE_TIEE_91){
                                        fila = tabla_tiie_91.insertRow()
                                    }else{
                                        fila = tabla_tiie_128.insertRow()
                                    }
                                    celda = fila.insertCell()
                                    texto = document.createTextNode(element.fecha)
                                    celda.appendChild(texto)
                                    celda = fila.insertCell()
                                    texto = document.createTextNode(element.dato)
                                    celda.appendChild(texto)

                                    //Agregar a valores de muestro (promedio)
                                    promedio+=parseFloat(element.dato)

                                    //Agregamos a los arreglos de fechas y valores para la gráfica
                                    titulos.push(element.fecha)
                                    valores.push(parseFloat(element.dato))
                                });

                                //Colocamos totales dependiendo de qué serie se iteró
                                if(serie == SERIE_TIEE_1){
                                    //Totales de promedio, mayor y menor
                                    document.getElementById('promedio_1').value = (parseFloat(promedio) / valores.length).toFixed(3)
                                    document.getElementById('mayor_1').value = Math.max(...valores)
                                    document.getElementById('menor_1').value = Math.min(...valores)
                                    valores_1 = valores
                                }else if(serie == SERIE_TIEE_28){
                                    document.getElementById('promedio_28').value = (parseFloat(promedio) / valores.length).toFixed(3)
                                    document.getElementById('mayor_28').value = Math.max(...valores)
                                    document.getElementById('menor_28').value = Math.min(...valores)
                                    valores_28 = valores
                                }else if(serie == SERIE_TIEE_91){
                                    document.getElementById('promedio_91').value = (parseFloat(promedio) / valores.length).toFixed(3)
                                    document.getElementById('mayor_91').value = Math.max(...valores)
                                    document.getElementById('menor_91').value = Math.min(...valores)
                                    valores_91 = valores
                                }else{
                                    document.getElementById('promedio_128').value = (parseFloat(promedio) / valores.length).toFixed(3)
                                    document.getElementById('mayor_128').value = Math.max(...valores)
                                    document.getElementById('menor_128').value = Math.min(...valores)
                                    valores_128 = valores
                                    
                                }
                                //Función que crea la gráfica con datos para dolares
                                mostrar_grafica_resultados(grafica_resultados,titulos,valores_1,valores_28,valores_91,valores_128)

                            }catch(error){
                                mostrar_toast('error','Error','Algunas tasas no arrojaron datos.')
                            }
                            
                            

                        });
                        //Ejecutamos la función de guardar consulta
                        guardar_consulta(fecha_inicio,fecha_fin)

                    }
                });
            }
        }catch(error){
            mostrar_texto('error','Error','Error inesperado: '+error)
        }
    }

    function mostrar_grafica_resultados(element,titulos,valores_1,valores_28,valores_91,valores_128){
        element.hidden = false
        let tipo = "line"
        if(titulos.length == 1){
            tipo = "bar"
        }
        if (window.grafica != undefined) window.grafica.destroy()
        window.grafica = new Chart(element, {
            type: tipo,
            data: {
                labels: titulos,
                datasets: [
                    {
                        label: 'TIIE 1 Día',
                        data: valores_1,
                        borderWidth: 1,
                        pointBackgroundColor: "#e55123",
                        backgroundColor: "#e55123",
					    borderColor: "#e55123",
                        fill: false,
                        pointRadius: valores_1.map(function(day,i) {if((valores_1[i] == Math.max.apply(null, valores_1) || (valores_1[i] == Math.min.apply(null, valores_1)))){return 7}else{return 2}})
                    },
                    {
                        label: 'TIIE 28 Días',
                        data: valores_28,
                        borderWidth: 1,
                        pointBackgroundColor: "#63bab2",
                        backgroundColor: "#63bab2",
                        borderColor: "#63bab2",
                        fill: false,
                        pointRadius: valores_28.map(function(day,i) {if((valores_28[i] == Math.max.apply(null, valores_28) || (valores_28[i] == Math.min.apply(null, valores_28)))){return 7}else{return 2}})
                    },
                    {
                        label: 'TIIE 91 Días',
                        data: valores_91,
                        borderWidth: 1,
                        pointBackgroundColor: "#ecb624",
                        backgroundColor: "#ecb624",
					    borderColor: "#ecb624",
                        fill: false,
                        pointRadius: valores_91.map(function(day,i) {if((valores_91[i] == Math.max.apply(null, valores_91) || (valores_91[i] == Math.min.apply(null, valores_91)))){return 7}else{return 2}})

                    },
                    {
                        label: 'TIIE 128 Días',
                        data: valores_128,
                        borderWidth: 1,
                        pointBackgroundColor: "#555658",
                        backgroundColor: "#abb0b4",
                        borderColor: "#abb0b4",
                        fill: false,
                        pointRadius: valores_128.map(function(day,i) {if((valores_128[i] == Math.max.apply(null, valores_128) || (valores_128[i] == Math.min.apply(null, valores_128)))){return 7}else{return 2}})
                        
                    }
                ]
            }
        });
    }

    function limpiar_datos(){
        document.getElementById('tabla_tiie_1').getElementsByTagName('tbody')[0].innerHTML = ""
        document.getElementById('tabla_tiie_28').getElementsByTagName('tbody')[0].innerHTML = ""
        document.getElementById('tabla_tiie_91').getElementsByTagName('tbody')[0].innerHTML = ""
        document.getElementById('tabla_tiie_128').getElementsByTagName('tbody')[0].innerHTML = ""
        document.getElementById('promedio_1').value = ""
        document.getElementById('mayor_1').value = ""
        document.getElementById('menor_1').value = ""
        document.getElementById('promedio_28').value = ""
        document.getElementById('mayor_28').value = ""
        document.getElementById('menor_28').value = ""
        document.getElementById('promedio_91').value = ""
        document.getElementById('mayor_91').value = ""
        document.getElementById('menor_91').value = ""
        document.getElementById('promedio_128').value = ""
        document.getElementById('mayor_128').value = ""
        document.getElementById('menor_128').value = ""

    }

    function fecha_reversa(str){
        let str_array = str.split('-')
        return str_array[2]+"-"+str_array[1]+"-"+str_array[0]
    }

    function comparar_fecha(fecha1,fecha2){
        return new Date(fecha1) > new Date(fecha2)
    }

    function guardar_consulta(fecha_inicial,fecha_final){
        $.ajax({
            type : "POST",
            url : "{% url 'guardar_consulta' %}",
            data: {                    
                "csrfmiddlewaretoken":"{{ csrf_token }}",
                "fecha_inicial": fecha_inicial,
                "fecha_final": fecha_final,
                "tipo":"2"
                },
            success: function(data){                   
                /*
                    mostrar_toast('success','Hecho','Consulta guardada en la base de datos.','top')

                */

            },
            failure: function(data){
                mostrar_toast('error','Error','Error guardando consulta.')
            }
        });
    }
    
</script>
{% endblock %}